.App {
  text-align: center;
  background-color: blanchedalmond;
  min-height: 600px;
  



}
.card-title{
  min-height: 50px;
}

#logo{
  color:coral
}
#search-button{
  color:coral
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:blanchedalmond;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 .feat-card{
  max-width: 95%;
   
justify-content: center;
margin: auto;
margin-top: 4px;
 }
#featured{
  background-image: url(1.jpg);
  background-size: 100%;
  min-height: 150px;
  /* display: flex;
  flex-direction: column; */

  padding: 0;
  
}
.card.div{
  display: flex;
  
}
.c{
  
  margin: 20px;
  padding: 3px;

}
.products{
  display: flex;
  max-width: 1200px;
  justify-content: center;
  flex-flow: row wrap;
}
.c {
  background-image: url(1.jpg);
}

a{
  text-decoration: none;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
